html, body{
    margin:0px;
    padding: 0px;
    min-height: 180px;
    width: 384px;
    font-family:'Arvo', serif;
    background-color: #333D79;
}
/*This is the first part*/
.first-part{
    display: flex;
    justify-content: space-between;
}
h1{
font-size: 30px;
color:#50CB93 ;
margin-left: 20px;
}
.user{
    margin-top: 30px;
    margin-bottom: 20px;
    
}
.name{
    padding-top: 10px;
    text-align: center;
    margin-right: 20px;
    color: white;
}
/*Second part*/
.value{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color:#50CB93;
    margin-bottom: 20px;
}
/*Third part*/
.total{
    display: flex;
    justify-content: space-between;
    background-color: #04293A;
    height: 80px;
    width: 344px;
    border-radius: 20px;
    align-items: center;
    margin-left: 20px;
}
/*income part*/
.income{
    text-align: center;
    margin-left: 40px;
    color: #50CB93;
    font-size: 20px;
}
/*Exspense part*/
.exspense{
    text-align: center;
    margin-right: 40px;
    color: #FF2D55;
    font-size: 20px;
}

